<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.compose.ComposeTestActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_test"
            android:theme="@style/Theme.Andoid_sum" />
        <activity
            android:name=".ui.databind.DataBindTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.livedata.LiveDataFunctionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.flow.FlowFunctionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="true"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>